<table class="login" ng-if="globals">
    <tr>
        <td><p style="color:blue">{{globals.currentUser.username}}</p></td>
        <td><p> logged in at </p></td>
        <td><p style="color:blue">{{globals.login}}</p></td>
    </tr>
</table>

<h2>{{report_header}}</h2>
<table ng-if="total > 0">
  <tr>
    <th>Year</th>
    <th>Total Cows</th>
    <th>Aged Cows</th>
    <th>Pregnant Cows</th>
    <th>Injured Cows</th>
    <th>Ill Cows</th>
    <th>Gallons Milked</th>
  </tr>
  <tr ng-repeat="row in rows">
    <td><a href="#!{{row.link}}">{{row.year}}</a></td>
    <td>{{row.total_cows}}</td>
    <td>{{row.aged_cows}}</td>
    <td>{{row.pregnant_cows}}</td>
    <td>{{row.injured_cows}}</td>
    <td>{{row.ill_cows}}</td>
    <td>{{row.gallons_milk}}</td>
  <tr>
</table>

<p ng-if="total == 0">No annual records available yet.</p>
