<form method="post" action="{% url 'demo:login' %}">
    <input type="hidden" name="csrfmiddlewaretoken" ng-model="token"/>
    <p><label for="id_username">Username:</label>
    <input type="text" id="id_username" ng-model="username" autofocus maxlength="254" required/></p>
    <p><label for="id_password">Password:</label>
    <input type="password" id="id_password" ng-model="password" required/></p>
    <input type="hidden" name="next" value="/"/>
    <input type="button" ng-click="login()" value="Login"/>

</form>
