<p ng-if="error">{{ error }}</p>

<form method="post" action=".">
    <input type="hidden" name="csrfmiddlewaretoken" ng-model="globals.token"/>
    <p><label for="id_username">Username:</label>
    <input type="text"
           name="username"
           ng-model="username"
           autofocus
           required/></p>
    <p><label for="id_password">Password:</label>
    <input type="password"
           name="password"
           ng-model="password"
           required/></p>
    <input type="hidden" name="next" value="/"/>
    <input type="button" ng-click="login()" value="Login"/>
</form>
