<table class="login" ng-if="globals">
    <tr>
        <td><p style="color:blue">{{globals.currentUser.username}}</p></td>
        <td><p> logged in at </p></td>
        <td><p style="color:blue">{{globals.login}}</p></td>
    </tr>
</table>

<h2 ng-show="{{debug}}">Dependent Objects Loaded</h2>
<table ng-if"globals" ng-show="{{debug}}">
    <tr>
        <th>Breeds</th>
        <td>{{ globals.breeds.length }}</td>
    </tr>
    <tr>
        <th>Colors</th>
        <td>{{ globals.colors.length }}</td>
    </tr>
    <tr>
        <th>Ages</th>
        <td>{{ globals.ages.length }}</td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>{{ globals.actions.length }}</td>
    </tr>
    <tr>
        <th>Pastures</th>
        <td>{{ globals.pastures.length }}</td>
    </tr>
    <tr>
        <th>Cows</th>
        <td>{{ globals.cows.length }}</td>
    </tr>
    <tr>
        <th>Seasons</th>
        <td>{{ globals.seasons.length }}</td>
    </tr>
    <tr>
        <th>Cereals</th>
        <td>{{ globals.cereals.length }}</td>
    </tr>
    <tr>
        <th>Grasses</th>
        <td>{{ globals.grasses.length }}</td>
    </tr>
    <tr>
        <th>Illnesses</th>
        <td>{{ globals.illnesses.length }}</td>
    </tr>
    <tr>
        <th>Injuries</th>
        <td>{{ globals.injuries.length }}</td>
    </tr>
    <tr>
        <th>Legumes</th>
        <td>{{ globals.legumes.length }}</td>
    </tr>
    <tr>
        <th>Statuses</th>
        <td>{{ globals.statuses.length }}</td>
    </tr>
    <tr>
        <th>Treatments</th>
        <td>{{ globals.treatments.length }}</td>
    </tr>
    <tr>
        <th>Vaccines</th>
        <td>{{ globals.vaccines.length }}</td>
    </tr>
</table>
<p></p>
<h2 ng-show="{{debug}}">Authentication</h2>
<table ng-if"globals" ng-show="{{debug}}">
    <tr>
        <th>User ID</th>
        <td>{{ globals.currentUser.id }}</td>
    </tr>
    <tr>
        <th>User</th>
        <td>{{ globals.currentUser.username }}</td>
    </tr>
    <tr>
        <th>Client</th>
        <td>{{ globals.currentUser.client.name }}</td>
    </tr>
</table>
