<h2>Dependent Objects Loaded</h2>
<table>
    <tr>
        <th>Clients</th>
        <td>{{ globals.clients.length }}</td>
    </tr>
    <tr>
        <th>Users</th>
        <td>{{ globals.users.length }}</td>
    </tr>
    <tr>
        <th>Breeds</th>
        <td>{{ globals.breeds.length }}</td>
    </tr>
    <tr>
        <th>Colors</th>
        <td>{{ globals.colors.length }}</td>
    </tr>
    <tr>
        <th>Ages</th>
        <td>{{ globals.ages.length }}</td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>{{ globals.actions.length }}</td>
    </tr>
    <tr>
        <th>Pastures</th>
        <td>{{ globals.pastures.length }}</td>
    </tr>
    <tr>
        <th>Cows</th>
        <td>{{ globals.cows.length }}</td>
    </tr>
    <tr>
        <th>Seasons</th>
        <td>{{ globals.seasons.length }}</td>
    </tr>
    <tr>
        <th>Cereals</th>
        <td>{{ globals.cereals.length }}</td>
    </tr>
    <tr>
        <th>Grasses</th>
        <td>{{ globals.grasses.length }}</td>
    </tr>
    <tr>
        <th>Illnesses</th>
        <td>{{ globals.illnesses.length }}</td>
    </tr>
    <tr>
        <th>Injuries</th>
        <td>{{ globals.injuries.length }}</td>
    </tr>
    <tr>
        <th>Legumes</th>
        <td>{{ globals.legumes.length }}</td>
    </tr>
    <tr>
        <th>Statuses</th>
        <td>{{ globals.statuses.length }}</td>
    </tr>
    <tr>
        <th>Treatments</th>
        <td>{{ globals.treatments.length }}</td>
    </tr>
    <tr>
        <th>Vaccines</th>
        <td>{{ globals.vaccines.length }}</td>
    </tr>
</table>
