<h2>Purchase a Cow</h2>
<form action="{% url 'assets:cow-list' %} method="post">
    <table>
    <tr>
        <th>Client:</th>
        <td>
            <select ng-init="selectedClient=clients[0].name" ng-model="selectedClient" ng-options="client.name for client in clients">
            </select>
        </td>
    </tr>
    <tr>
        <th>Purchaser:</th>
        <td>
            <select ng-init="selectedPurchaser=users[0].username" ng-model="selectedPurchaser" ng-options="user.username for user in users">
            </select>
        </td>
    </tr>
    <tr>
        <th>Date:</th>
        <td>
            <input type="date" name="inputDate" ng-model=inputDate placeholder="yyyy-MM-dd" min="2015-01-01" max="2021-12-31" required />
        </td>
    </tr>
    <tr>
        <th>Breed:</th>
        <td>
            <select ng-init="selectedBreed=breeds[0].name" ng-model="selectedBreed" ng-options="breed.name for breed in breeds">
            </select>
        </td>
    </tr>
    <tr>
        <th>Color:</th>
        <td>
            <select ng-init="selectedColor=colors[0].name" ng-model="selectedColor" ng-options="color.name for color in colors">
            </select>
        </td>
    <tr>
        <th>Age:</th>
        <td>
            <select ng-init="selectedAge=ages[0].name" ng-model="selectedAge" ng-options="age.name for age in ages">
            </select>
        </td>
    </tr>
    </table>
    <!-- input type="button" ng-click="purchase(selectedClient, selectedPurchaser, inputDate, selectedBreed, selectedColor, selectedAge)" value="Purchase"/ -->
    <input type="button" ng-click="purchase()" value="Purchase"/>
</form>

<h2>Herd of {{total_cows}}</h2>
<table ng-if="herd.length > 0">
  <tr>
    <th>ID</th>
    <th>RFID tag</th>
    <th>Client</th>
    <th>Procurer</th>
    <th>Bought When</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Age</th>
    <th>Date Sold</th>
  </tr>
  <tr ng-repeat="cow in herd">
    <td><a href="#{{cow.link}}">{{cow.id}}</a></td>
    <td>{{cow.rfid}}</td>
    <td>{{cow.client.name}}</td>
    <td>{{cow.purchased_by}}</td>
    <td>{{cow.purchase_date}}</td>
    <td>{{cow.breed.name}}</td>
    <td>{{cow.color.name}}</td>
    <td>{{cow.age.name}}</td>
    <td>{{cow.sell_date}}</td>
  <tr>
</table>

<p ng-if="herd.length == 0">No cows purchased yet.</p>

<div>
<span text-align:left><a href="{{prev}}">Prev</a></span>
<span text-align:right><a href="{{next}}">Next</a></span>
</div>
