<h2>Herd</h2>
<table ng-if="herd.length > 0">
  <tr>
    <th>ID</th>
    <th>RFID tag</th>
    <th>Client</th>
    <th>Procurer</th>
    <th>Bought When</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Age</th>
    <th>Date Sold</th>
  </tr>
  <tr ng-repeat="cow in herd">
    <td><a href="#{{cow.link}}">{{cow.id}}</a></td>
    <td>{{cow.rfid}}</td>
    <td>{{cow.client.name}}</td>
    <td>{{cow.purchased_by}}</td>
    <td>{{cow.purchase_date}}</td>
    <td>{{cow.breed.name}}</td>
    <td>{{cow.color.name}}</td>
    <td>{{cow.age.name}}</td>
    <td>{{cow.sell_date}}</td>
  <tr>
</table>

<p ng-if="herd.length == 0">No cows purchased yet.</p>

<div>
<span text-align:left><a href="{{prev}}">Prev</a></span>
<span text-align:right><a href="{{next}}">Next</a></span>
</div>
