<h1 style="text-align: center">Assets Design Document</h1><p></p>
<div id="contents" style="text-align: left">
<h2>Contents</h2><p></p><div><ul style="text-align: left">
<h4><li><span>1</span>
<span><a href="#/docs/assets_dd/intro/">Introduction</a></span></li>
<li><span>2</span>
<span><a href="#/docs/assets_dd/overview/">System Overview</a></span></li>
<li><span>3</span>
<span><a href="#/docs/assets_dd/arch/">System Architecture</a></span></li>
<li><span>4</span>
<span><a href="#/docs/assets_dd/component/">Component Design</a></span></li>
<li><span>5</span>
<span><a href="#/docs/assets_dd/data/">Data Design</a></span></li>
<li><span>6</span>
<span><a href="#/docs/assets_dd/api/">API Design</a></span></li>
<li><span>7</span>
<span><a href="#/docs/assets_dd/ui/">UI Design</a></span></li>
<li><span>8</span>
<span><a href="#/docs/assets_dd/appendix/">Appendix</a></span></li>
</ul></h4></div>

<div id="intro" style="text-align: left">
<h2>1. Introduction</h2><p></p><div><ul style="text-align: left">
<h3>1.1 Purpose</h3><p></p><p>
Nature v1.0 is an inventory management system for the dairy farming market segment.  The Assets feature will consist of a user credential protected UI that interacts with a service that manages all dairy farm assets.
</p><p></p>
<h3>1.2 Scope</h3><p></p><p>
Two tools will be developed.  A CLI tool for rapid creation of new asset objects for load testing and a UI tool for CRUD management of all asset objects.
</p><p>
<h4>1.2.1 Back-end Perspective</h4>
</p><p>
Assets consist of the following objects: Cow, Pasture, Seed, and Milk.  Actions taken on certain assets are healthcheck before milking, milking, planting seed in pastures and allowing pastures to fallow a season using additional objects: HealthRecord, Event, Exercise.
Each Asset is mapped to 1:1 Account objects and either 1:1 User objects or 1:1 User and 1:1 Cow objects.
</p><p>
<h4>1.2.2 Front-end Perspective</h4>
</p><p>
User login by username/password enables access to account mapped objects in all other pages.
Account User login loads a landing page listing current year assets with menu selection of other time periods or access to management of other assets.
</p><p></p>
<h3>1.3 References</h3><p></p><p>
<ul><li><a href="#/docs/mrd/">Nature Dairy Farm MRD</a></li></ul>
</p><p></div></div>

<div id="overview" style="text-align: left">
<h2>2. System Overview</h2><p></p><div><ul style="text-align: left">
The assets service is a web service that provides</p><ul>
<li>CRUD operations on Cow objects</li><ul>
<li>purchase a new Cow</li>
<li>look up entire herd of Cows</li>
<li>look up status for an existing Cow</li>
<li>update status for an existing Cow</li>
<li>sell an existing Cow</li></ul>
<li>CRUD operations on Pasture objects</li><ul>
<li>declare a Pasture as fallow for a season</li>
<li>look up all Pasture land</li>
<li>look up status for an existing Pasture</li>
<li>declare a Pasture as available for grazing for a season</li></ul>
<li>CRUD operations on Seed objects</li><ul>
<li>plant new Seed in a pasture for a season</li>
<li>look up all Seeds planted</li>
<li>look up status for an existing Seed</li></ul>
<li>CRUD operations on HealthRecord objects</li><ul>
<li>log a new HealthRecord for a specific Cow by a specific User</li>
<li>look up all HealthRecords</li>
<li>look up HealthRecord status for a specific Cow by a specific User</li>
<li>update an existing HealthRecord for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Exercise objects</li><ul>
<li>log a new Exercise regimen for a specific Cow by a specific User</li>
<li>look up all Exercises</li>
<li>look up Exercise status for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Event objects</li><ul>
<li>log a new Event for a specific Cow by a specific User</li>
<li>look up all Events</li>
<li>look up Event status for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Milk objects</li><ul>
<li>log Milk produced by a specific Cow by a specific User</li>
<li>look up all Milk</li>
<li>look up Milk produced by a specific Cow by a specific User</li></ul>
</ul>
<p></p></div></div>

<div id="arch" style="text-align: left">
<h2>3. System Architecture</h2><p></p><div style="text-align: left">
<h3>3.1 Architectural Design</h3><p></p><p>
<img width="25%" src="/static/images/docs/farmApp_architecture.png"/><p></p>
<h3>3.2 Design Considerations</h3><p></p><p><ul>
<li>PostgreSQL will be the only source of truth providing near-instant data replication with a master-slave configuration</li>
<li>All PostgreSQL table rows will be accessible by key id except Cow table which will reference key rfid, of type UUID</li>
<li>No PostgreSQL table data will ever be deleted but unwanted records will be tagged by date or deleted field to remove from regular search</li>
<li>Commonly requested data will be cached in Redis</li>
<li>Summary reporting will assume low volume same day row creation so table rows will be accessible by keys year, month and id with only the highest id row returned</li>
<li>Because disk space is cheap even when rented and historic data must be preserved for the Summary reporting web service, each table will include a delete column with a boolean value rather than actually deleting a table row</li>
</ul></div></div>

<div id="component" style="text-align: left">
<h2>4. Component Design</h2><p></p><div style="text-align: left">
<img width="25%" src="/static/images/docs/assets_components.png"/><p></p></div></div>

<div id="data" style="text-align: left">
<h2>5. Data Design</h2><p></p><div style="text-align: left">
<h3>5.1 UML Diagram</h3><p></p>
<img width="25%" src="/static/images/docs/assets_UML.png"/><p></p>
<h3>5.2 RDBMS Data Description</h3><p></p>
<img width="25%" src="/static/images/docs/assets_ERD.png"/><p></p></div></div>

<div id="api" style="text-align: left">
<h2>6. API Design</h2><p></p>
<h3>6.1 Index</h3><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Home</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK"}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>

<h3>6.2 Cow</h3><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Cows</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td class="left">{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 100, "previous": null, "next": "http://localhost:8000/assets/api/cows/?limit=10&offset=10", "results"=[{'id': 1, 'rfid': '1772346a-a2d8-4763-ab84-ed2f9245df05', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 2, 'name': '2 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}]}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Purchase a Cow</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td class="left">{"purchased_by": "farmhand", "purchase_date": "2014-12-31", "age": "3 years", "breed": "Holstein", "color": "black_white"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td class="left">{"status_code": 201, "reason_phrase": "Created", "content": "{'rfid': '25a3991a-1328-4e96-9b47-de76b35fb5f6', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': '3 years', 'breed': 'Holstein', 'color': 'black_white'}"}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td class="left">{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'purchased_by': ['This field is required.'], 'purchase_date': ['This field is required.'], 'age': ['This field is required.'], 'color': ['This field is required.']}"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Inspect a Cow</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'rfid': '1772346a-a2d8-4763-ab84-ed2f9245df05', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 2, 'name': '2 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}"}</code></td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update a Cow status</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td><code>{"purchased_by": "farmhand", "purchase_date": "2014-12-31", "age": "3 years", "breed": "Dutch Belted", "color": "black_white"}</code></td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'rfid': '1772346a-a2d8-4763-ab84-ed2f9245df05', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 2, 'name': '2 years'}, 'breed': {'id': 1, 'name': 'Dutch Belted', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}"}</code></td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'purchased_by': ['This field is required.'], 'purchase_date': ['This field is required.'], 'age': ['This field is required.'], 'color': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Sell a Cow</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/delete.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td><code>{"status_code": 200, "reason_phrase": 'OK', "content": "{'rfid': 'cf80b581-cd3a-4197-8dc8-18f7aa910bef', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': '3 years', 'breed': 'Holstein', 'color': 'black_white', 'sell_date': '2018-04-19'}"}</code></td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found"}</code></td>
  </tr>
</table>

<h3>6.3 Pasture</h3><p></p>
<table>
  <tr>
    <td>List all Pastures</td>
    <td>/assets/api/pastures/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 13, "previous": null, "next": "http://localhost:8000/assets/api/pastures/?limit=10&offset=10", "results"=[{'id': 1, 'name': 'North', 'url': '/static/images/regions/north.png', 'distance': 7, 'fallow': false, 'link': '/assets/api/pastures/1/'}]}</code></td>
    <td><code>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Sell a Cow</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/delete.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td><code>{"status_code": 200, "reason_phrase": 'OK', "content": "{'rfid': 'cf80b581-cd3a-4197-8dc8-18f7aa910bef', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': '3 years', 'breed': 'Holstein', 'color': 'black_white', 'sell_date': '2018-04-19'}"}</code></td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found"}</code></td>
  </tr>
</table>

<table>
  <tr>
    <th>Action</th>
    <th>URL Path</th>
    <th>HTTP Method</th>
    <th>PUT/POST data</th>
    <th>Valid HTTP Response</th>
    <th>Invalid HTTP Response</th>
  </tr>
  <tr>
    <td>Define a Pasture</td>
    <td>/assets/api/pastures/</td>
    <td><img width="100%" src="/static/images/methods/post.png"/></td>
    <td><code>{"name": "Round the Barn", "url": "/static/images/regions/barn.png", "fallow": false, "distance": 1}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'name': 'Round the Barn', 'url': '/static/images/regions/barn.png', 'fallow': false, 'distance': 1}"}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'name': ['This field is required.'], 'url': ['This field is required.'], 'fallow': ['This field is required.'], 'distance': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <td>Inspect a Pasture</td>
    <td>/assets/api/pastures/1/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'name': 'North', 'url': '/static/images/regions/north.png', 'fallow': false, 'distance': 7, 'link': '/assets/api/pastures/1/'}"}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
  <tr>
    <td>Mark a Pasture as fallow or for grazing</td>
    <td>/assets/api/pastures/1/</td>
    <td><img width="100%" src="/static/images/methods/put.png"/></td>
    <td><code>{"name": "North", "url": "/static/images/regions/north.png", "fallow": true, "distance":  7}</code></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'name': 'North', 'url': '/static/images/regions/north.png', 'fallow': true, 'distance': 7, 'link': '/assets/api/pastures/1/'}"}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'name': ['This field is required.'], 'url': ['This field is required.'], 'fallow': ['This field is required.'], 'distance': ['This field is required.']}"}</code></td>
  <tr>
    <td>List all Seeds</td>
    <td>/assets/api/seeds/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 50, "previous": null, "next": "http://localhost:8000/assets/api/seeds/?limit=10&offset=10", "results"=[{'id': 1, 'pasture': {'name': 'North', 'url': '/static/images/regions/north.png', 'distance': 7, 'fallow': false, 'link': '/assets/api/pastures/1/'}, 'celery_hay': {'id': 1, 'name': 'alfalfa'}, 'grass_hay': {'id': 1, 'name': 'bermuda'}, 'legume_hay': {'id': 1, 'name': 'clover'}, 'season': {'id': 1, 'name': 'Spring'}, 'year': 2015, 'seeded_by': {'id': 2, 'username': 'farmhand'}, 'link': '/assets/api/seeds/'}]}</code></td>
    <td><code>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</code></td>
  </tr>
  <tr>
    <td>Plant a Seed</td>
    <td>/assets/api/seeds/</td>
    <td><img width="100%" src="/static/images/methods/post.png"/></td>
    <td><code>{'pasture': 'North', 'cereal_hay': 'alfalfa', 'grass_hay': 'bermuda', 'legume_hay': 'clover', 'season': 'Spring', 'year': 2015, 'seeded_by': 'farmhand'}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'id': 1, 'pasture': {'name': 'North', 'url': '/static/images/regions/north.png', 'distance': 7, 'fallow': false, 'link': '/assets/api/pastures/1/'}, 'cereal_hay': {'id': 1, 'name': 'alfalfa'}, 'grass_hay': {'id': 1, 'name': 'bermuda'}, 'legume_hay': {'id': 1, 'name': 'clover'}, 'season': {'id': 1, 'name': 'Spring'}, 'year': 2015, 'seeded_by': {'id': 2, 'username': 'farmhand'}}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'pasture': ['This field is required.'], 'cereal_hay': ['This field is required.'], 'grass_hay': ['This field is required.'], 'legume_hay': ['This field is required.'], 'season': ['This field is required.'], 'year': ['This field is required.'], 'seeded_by': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <td>Inspect a Seed</td>
    <td>/assets/api/seeds/1/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'pasture': {'name': 'North', 'url': '/static/images/regions/north.png', 'distance': 7, 'fallow': false, 'link': '/assets/api/pastures/1/'}, 'cereal_hay': {'id': 1, 'name': 'alfalfa'}, 'grass_hay': {'id': 1, 'name': 'bermuda'}, 'legume_hay': {'id': 1, 'name': 'clover'}, 'season': {'id': 1, 'name': 'Spring'}, 'year': 2015, 'seeded_by': {'id': 2, 'username': 'farmhand'}}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
  <tr>
    <td>List all HealthRecords</td>
    <td>/assets/api/healthrecords/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 10920, "previous": null, "next": "http://localhost:8000/assets/api/healthrecords/?limit=10&offset=10", "results"=[{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'inspection_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'temperature': 101.8, 'respiratory_rate': 38.9, 'heart_rate': 83.6, 'blood_pressure': 136.2, 'weight': 488, 'body_condition_score': 3.5, 'status': {'id': 1, 'name': 'Healthy'}, 'illness': null, 'injury': null, 'treatment': null, 'vaccine': null, 'link': '/assets/api/healthrecords/1/'}]}</code></td>
    <td><code>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</code></td>
  </tr>
  <tr>
    <td>Log a HealthRecord</td>
    <td>/assets/api/healthrecords/</td>
    <td><img width="100%" src="/static/images/methods/post.png"/></td>
    <td><code>{'recorded_by': 'vet', 'inspection_time': '2015-01-01T04:00:00Z', 'cow': 1, 'temperature': 101.8, 'respiratory_rate': 38.9, 'heart_rate': 83.6, 'blood_pressure': 136.2, 'weight': 488, 'body_condition_score': 3.5, 'status': 'Healthy'}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'inspection_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'temperature': 101.8, 'respiratory_rate': 38.9, 'heart_rate': 83.6, 'blood_pressure': 136.2, 'weight': 488, 'body_condition_score': 3.5, 'status': {'id': 1, 'name': 'Healthy'}, 'illness': null, 'injury': null, 'treatment': null, 'vaccine': null}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'recorded_by': ['This field is required.'], 'inspection_time': ['This field is required.'], 'cow': ['This field is required.'], 'temperature': ['This field is required.'], 'respiratory_rate': ['This field is required.'], 'heart_rate': ['This field is required.'], 'blood_pressure': ['This field is required.'], 'weight': ['This field is required.'], 'body_condition_score': ['This field is required.'], 'status': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <td>Inspect a HealthRecord</td>
    <td>/assets/api/healthrecords/1/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'inspection_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'temperature': 101.8, 'respiratory_rate': 38.9, 'heart_rate': 83.6, 'blood_pressure': 136.2, 'weight': 488, 'body_condition_score': 3.5, 'status': {'id': 1, 'name': 'Healthy'}, 'illness': null, 'injury': null, 'treatment': null, 'vaccine': null, 'link': '/assets/api/healthrecords/1/'}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
  <tr>
    <td>Update a HealthRecord</td>
    <td>/assets/api/healthrecords/1/</td>
    <td><img width="100%" src="/static/images/methods/put.png"/></td>
    <td><code>{'recorded_by': 'vet', 'inspection_time': '2015-01-01T04:00:00Z', 'cow': 1, 'temperature': 101.8, 'respiratory_rate': 38.9, 'heart_rate': 83.6, 'blood_pressure': 136.2, 'weight': 488, 'body_condition_score': 3.5, 'status': 'Bacterial Illness', 'illness': 'MAP'}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'inspection_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'temperature': 101.8, 'respiratory_rate': 38.9, 'heart_rate': 83.6, 'blood_pressure': 136.2, 'weight': 488, 'body_condition_score': 3.5, 'status': {'id': 5, 'name': 'Bacterial Illness'}, 'illness': {'id': 5, 'diagnosis': 'MAP', 'treatment': 'feed antimicrobials'}, 'treatment': null, 'vaccine': null}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'recorded_by': ['This field is required.'], 'inspection_time': ['This field is required.'], 'cow': ['This field is required.'], 'temperature': ['This field is required.'], 'respiratory_rate': ['This field is required.'], 'heart_rate': ['This field is required.'], 'blood_pressure': ['This field is required.'], 'weight': ['This field is required.'], 'body_condition_score': ['This field is required.'], 'status': ['This field is required.'], 'illness': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <td>List all Events</td>
    <td>/assets/api/events/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 10920, "previous": null, "next": "http://localhost:8000/assets/api/events/?limit=10&offset=10", "results"=[{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'event_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'action': {'id': 17, 'name': 'Wake Up'}, 'link': '/assets/api/events/1/'}]}</code></td>
    <td><code>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</code></td>
  </tr>
  <tr>
    <td>Log an Event</td>
    <td>/assets/api/events/</td>
    <td><img width="100%" src="/static/images/methods/post.png"/></td>
    <td><code>{'recorded_by': 'vet', 'event_time': '2015-01-01T04:00:00Z', 'cow': 1, 'action': 'Wake Up'}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'event_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'action': {'id': 17, 'name': 'Wake Up'}}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'recorded_by': ['This field is required.'], 'event_time': ['This field is required.'], 'cow': ['This field is required.'], 'action': ['This field is required.']}</code></td>
  </tr>
  <tr>
    <td>Inspect an Event</td>
    <td>/assets/api/events/1/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'event_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'action': {'id': 17, 'name': 'Wake Up'}, 'link': '/assets/api/events/1/'}}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
  <tr>
    <td>List all Exercises</td>
    <td>/assets/api/exercises/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 10082, "previous": null, "next": "http://localhost:8000/assets/api/exercises/?limit=10&offset=10", "results"=[{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'exercise_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'pasture': {'id': 1, 'name': 'North', 'url': '/static/images/regions/north.png', 'fallow': false, 'distance': 7, 'link': '/assets/api/pastures/2/'}, 'link': '/assets/api/exercises/1/'}]}</code></td>
    <td><code>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</code></td>
  </tr>
  <tr>
    <td>Log an Exercise</td>
    <td>/assets/api/exercises/</td>
    <td><img width="100%" src="/static/images/methods/post.png"/></td>
    <td><code>{'recorded_by': 'vet', 'exercise_time': '2015-01-01T04:00:00Z', 'cow': 1, 'pasture': 'North'}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'exercise_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'pasture': {'id': 1, 'name': 'North', 'url': '/static/images/regions/north.png', 'fallow': false, 'distance': 7, 'link': '/assets/api/pastures/2/'}, 'link': '/assets/api/exercises/1/'}}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'recorded_by': ['This field is required.'], 'exercise_time': ['This field is required.'], 'cow': ['This field is required.'], 'pasture': ['This field is required.']}</code></td>
  </tr>
  <tr>
    <td>Inspect an Exercise</td>
    <td>/assets/api/exercises/1/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'exercise_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'pasture': {'id': 1, 'name': 'North', 'url': '/static/images/regions/north.png', 'fallow': false, 'distance': 7, 'link': '/assets/api/pastures/2/'}, 'link': '/assets/api/exercises/1/'}}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
  <tr>
    <td>List all Milk produced</td>
    <td>/assets/api/milk/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{"count": 10364, "previous": null, "next": "http://localhost:8000/assets/api/milk/?limit=10&offset=10", "results"=[{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'milking_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'gallons':  7, 'link': '/assets/api/milk/1/'}]}</code></td>
    <td><code>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</code></td>
  </tr>
  <tr>
    <td>Log Milk produced</td>
    <td>/assets/api/milk/</td>
    <td><img width="100%" src="/static/images/methods/post.png"/></td>
    <td><code>{'recorded_by': 'vet', 'milking_time': '2015-01-01T04:00:00Z', 'cow': 1, 'gallons': 7}</code></td>
    <td><code>{"status_code": 201, "reason_phrase": "Created", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'milking_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'gallons':  7}}</code></td>
    <td><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'recorded_by': ['This field is required.'], 'milking_time': ['This field is required.'], 'cow': ['This field is required.'], 'gallons': ['This field is required.']}</code></td>
  </tr>
  <tr>
    <td>Inspect Milk produced</td>
    <td>/assets/api/milk/1/</td>
    <td><img width="100%" src="/static/images/methods/get.png"/></td>
    <td></td>
    <td><code>{"status_code": 200, "reason_phrase": "OK", "content": "{'id': 1, 'recorded_by': {'id': 3, 'name': 'vet'}, 'milking_time': '2015-01-01T04:00:00Z', 'cow': {'id': 1, 'rfid': 'c6930ee7-e5d6-458f-bcaa-fcb036147562', 'purchased_by': 'farmhand', 'purchase_date': '2014-12-31', 'age': {'id': 4, 'name': '4 years'}, 'breed': {'id': 1, 'name': 'Holstein', 'url': '/static/images/breeds/holstein.png'}, 'color': {'id': 1, 'name': 'black_white'}, 'sell_date': '2100-12-31', 'link': '/assets/api/cows/1/'}, 'gallons':  7, 'link': '/assets/api/milk/1/'}</code></td>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code></td>
  </tr>
</table>
</div>

<div id="ui"><h2>7. UI Design</h2><p></p>
</p><p></p></div>

<div id="appendix"><h2>8. Appendix</h2><p></p>
<table>
  <tr>
    <th>Word or Phrase</th>
    <th>Definition</th>
  </tr>
  <tr>
    <td>Fallow</td>
    <td>Allow to grow naturally undisturbed without animals grazing</td>
  </tr>
</table>
</div>
