<h1 style="text-align: center">Assets Design Document</h1><p></p>
<div id="contents" style="text-align: left">
<h2>Contents</h2><p></p><div><ul style="text-align: left">
<h4><li><span>1</span>
<span><a href="#!/docs/dd_assets/intro/">Introduction</a></span></li>
<li><span>2</span>
<span><a href="#!/docs/dd_assets/overview/">System Overview</a></span></li>
<li><span>3</span>
<span><a href="#!/docs/dd_assets/arch/">System Architecture</a></span></li>
<li><span>4</span>
<span><a href="#!/docs/dd_assets/component/">Component Design</a></span></li>
<li><span>5</span>
<span><a href="#!/docs/dd_assets/data/">Data Design</a></span></li>
<li><span>6</span>
<span><a href="#!/docs/dd_assets/api/">API Design</a></span></li>
<li><span>7</span>
<span><a href="#!/docs/dd_assets/ui/">UI Design</a></span></li>
<li><span>8</span>
<span><a href="#!/docs/dd_assets/tbd/">Appendix</a></span></li>
</ul></h4></div>
<div ng-if="data">
{{data}}
</div>
