<div id="overview" style="text-align: left">
<h2>2. System Overview</h2><p></p><div><ul style="text-align: left">
The assets service is a web service that provides</p><ul>
<li>CRUD operations on Cow objects</li><ul>
<li>purchase a new Cow</li>
<li>look up entire herd of Cows</li>
<li>look up status for an existing Cow</li>
<li>update status for an existing Cow</li>
<li>sell an existing Cow</li></ul>
<li>CRUD operations on Pasture objects</li><ul>
<li>declare a Pasture as fallow for a season</li>
<li>look up all Pasture land</li>
<li>look up status for an existing Pasture</li>
<li>declare a Pasture as available for grazing for a season</li></ul>
<li>CRUD operations on Seed objects</li><ul>
<li>plant new Seed in a pasture for a season</li>
<li>look up all Seeds planted</li>
<li>look up status for an existing Seed</li></ul>
<li>CRUD operations on HealthRecord objects</li><ul>
<li>log a new HealthRecord for a specific Cow by a specific User</li>
<li>look up all HealthRecords</li>
<li>look up HealthRecord status for a specific Cow by a specific User</li>
<li>update an existing HealthRecord for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Exercise objects</li><ul>
<li>log a new Exercise regimen for a specific Cow by a specific User</li>
<li>look up all Exercises</li>
<li>look up Exercise status for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Event objects</li><ul>
<li>log a new Event for a specific Cow by a specific User</li>
<li>look up all Events</li>
<li>look up Event status for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Milk objects</li><ul>
<li>log Milk produced by a specific Cow by a specific User</li>
<li>look up all Milk</li>
<li>look up Milk produced by a specific Cow by a specific User</li></ul>
</ul>
<p></p></div></div>
