<h1 style="text-align: center">Assets Design Document</h1><p></p>
<div id="contents" style="text-align: left">
<h2>Contents</h2><p></p><div><ul style="text-align: left">
<h4><li><span>1</span>
<span><a href="{{path}}#intro">Introduction</a></span></li>
<li><span>2</span>
<span><a href="{{path}}#overview">System Overview</a></span></li>
<li><span>3</span>
<span><a href="{{path}}#arch">System Architecture</a></span></li>
<li><span>4</span>
<span><a href="{{path}}#component">Component Design</a></span></li>
<li><span>5</span>
<span><a href="{{path}}#data">Data Design</a></span></li>
<li><span>6</span>
<span><a href="{{path}}#api">API Design</a></span></li>
<li><span>7</span>
<span><a href="{{path}}#ui">UI Design</a></span></li>
<li><span>8</span>
<span><a href="{{path}}#appendix">Appendix</a></span></li>
</ul></h4></div>

<div id="intro" style="text-align: left">
<h2>1. Introduction</h2><p></p><div><ul style="text-align: left">
<h3>1.1 Purpose</h3><p></p><p>
Nature v1.0 is an inventory management system for the dairy farming market segment.  The Assets feature will consist of a user credential protected UI that interacts with a service that manages all dairy farm assets.
</p><p></p>
<h3>1.2 Scope</h3><p></p><p>
Two tools will be developed.  A CLI tool for rapid creation of new asset objects for load testing and a UI tool for CRUD management of all asset objects.
</p><p>
<h4>1.2.1 Back-end Perspective</h4>
</p><p>
Assets consist of the following objects: Cow, Pasture, Seed, and Milk.  Actions taken on certain assets are healthcheck before milking, milking, planting seed in pastures and allowing pastures to fallow a season using additional objects: HealthRecord, Event, Exercise.
Each Asset is mapped to 1:1 Client objects and either 1:1 User objects or 1:1 User and 1:1 Cow objects.
</p><p>
<h4>1.2.2 Front-end Perspective</h4>
</p><p>
User login by username/password enables access to client mapped objects in all other pages.
Client User login loads a landing page listing current year assets with menu selection of other time periods or access to management of other assets.
</p><p></p>
<h3>1.3 References</h3><p></p><p>
<ul><li><a href="#/docs/mrd/">Nature Dairy Farm MRD</a></li></ul>
</p><p></div></div>

<div id="overview" style="text-align: left">
<h2>2. System Overview</h2><p></p><div><ul style="text-align: left">
The assets service is a web service that provides</p><ul>
<li>CRUD operations on Cow objects</li><ul>
<li>purchase a new Cow</li>
<li>look up entire herd of Cows</li>
<li>look up status for an existing Cow</li>
<li>update status for an existing Cow</li>
<li>sell an existing Cow</li></ul>
<li>CRUD operations on Pasture objects</li><ul>
<li>declare a Pasture as fallow for a season</li>
<li>look up all Pasture land</li>
<li>look up status for an existing Pasture</li>
<li>declare a Pasture as available for grazing for a season</li></ul>
<li>CRUD operations on Seed objects</li><ul>
<li>plant new Seed in a pasture for a season</li>
<li>look up all Seeds planted</li>
<li>look up status for an existing Seed</li></ul>
<li>CRUD operations on HealthRecord objects</li><ul>
<li>log a new HealthRecord for a specific Cow by a specific User</li>
<li>look up all HealthRecords</li>
<li>look up HealthRecord status for a specific Cow by a specific User</li>
<li>update an existing HealthRecord for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Exercise objects</li><ul>
<li>log a new Exercise regimen for a specific Cow by a specific User</li>
<li>look up all Exercises</li>
<li>look up Exercise status for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Event objects</li><ul>
<li>log a new Event for a specific Cow by a specific User</li>
<li>look up all Events</li>
<li>look up Event status for a specific Cow by a specific User</li></ul>
<li>CRUD operations on Milk objects</li><ul>
<li>log Milk produced by a specific Cow by a specific User</li>
<li>look up all Milk</li>
<li>look up Milk produced by a specific Cow by a specific User</li></ul>
</ul>
<p></p></div></div>

<div id="arch" style="text-align: left">
<h2>3. System Architecture</h2><p></p><div style="text-align: left">
<h3>3.1 Architectural Design</h3><p></p><p>
<img width="50%" src="/static/images/docs/farmApp_architecture.png"/><p></p>
<h3>3.2 Design Considerations</h3><p></p><p><ul>
<li>PostgreSQL will be the only source of truth providing near-instant data replication with a master-slave configuration</li>
<li>All PostgreSQL table rows will be accessible by key id except Cow table which will reference key rfid, of type UUID</li>
<li>No PostgreSQL table data will ever be deleted but unwanted records will be tagged by date or deleted field to remove from regular search</li>
<li>Commonly requested data will be cached in Redis</li>
<li>Summary reporting will assume low volume same day row creation so table rows will be accessible by keys year, month and id with only the highest id row returned</li>
<li>Because disk space is cheap even when rented and historic data must be preserved for the Summary reporting web service, each table will include a delete column with a boolean value rather than actually deleting a table row</li>
</ul></div></div>

<div id="component" style="text-align: left">
<h2>4. Component Design</h2><p></p><div style="text-align: left">
<img width="50%" src="/static/images/docs/assets_components.png"/><p></p></div></div>

<div id="data" style="text-align: left">
<h2>5. Data Design</h2><p></p><div style="text-align: left">
<h3>5.1 UML Diagram</h3><p></p>
<img width="50%" src="/static/images/docs/assets_UML.png"/><p></p>
<h3>5.2 RDBMS Data Description</h3><p></p>
<img width="50%" src="/static/images/docs/assets_ERD.png"/><p></p></div></div>

<div id="api" style="text-align: left">
<h2>6. API Design</h2><p></p>
<h3>6.1 Reference Data</h3><p></p>
<h4>6.1.1 Action</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Action objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/actions/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "Chew Cud"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.2 Age</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Age objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/ages/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "1 year"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.3 Breed</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Breed objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/breeds/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.4 Cereals</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all CerealHay objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cereals/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "alfalfa"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.5 Color</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List Color objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/colors/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "black_white"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.6 Grass</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get GrassHay objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/grasses/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "bermuda"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.7 Illness</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get Illness objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/illnesses/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"diagnosis": "BRD", "treatment": "feed antimicrobials"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.8 Injury</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get Injury objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/injuries/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"diagnosis": "chapped teat", "treatment": "apply salve"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.9 Legume</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get LegumeHay objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/legumes/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "clover"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.10 Season</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get Season objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/seasons/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "Spring"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.11 Status</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get Status objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/statuses/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "Healthy"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.12 Treatment</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get Treatment objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/treatments/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "apply salve"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.1.13 Vaccine</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Get Vaccine objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/vaccines/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "MAP vaccine"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>

<h3>6.2 Dynamic Data</h3><p></p>
<h4>6.2.1 Index</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>Home</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK"}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>
<h4>6.2.2 Client</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Client objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/clients/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create a Client object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/clients/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"name": "Clover Dairy LTD", "join_date": "2015-01-01"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 201, "reason_phrase": "Created", "data": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve a Client object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/clients/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>

<h4>6.2.3 Cow</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Cow objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create a Cow object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "client": "Clover Dairy LTD", "purchased_by": "farmer", "purchase_date": "2015-01-02", "breed": "Holstein", "color": "black_white", "age": "3 years"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'purchased_by': ['This field is required.'], 'purchase_date': ['This field is required.'], 'age': ['This field is required.'], 'color': ['This field is required.'], 'client': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve a Cow object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id": 1, "name": "black_white"}, "age": {"id": 3, "3 years"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update a Cow object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": "farmhand", "client": "Clover Dairy LTD", "purchase_date": "2015-01-02", "breed": "Guernsey", "color": "tawny", "age": "3 years"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 2, "name": "Guernsey", "url": "/static/images/breeds/guernsey.png"}, "color": {"id": 3, "name": "tawny"}, "age": {"id": 3, "3 years"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'purchased_by': ['This field is required.'], 'purchase_date': ['This field is required.'], 'age': ['This field is required.'], 'color': ['This field is required.'], 'client': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Sell a Cow object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/cows/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/delete.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2018-05-11", "breed": {"id": 2, "name": "Guernsey", "url": "/static/images/breeds/guernsey.png"}, "color": {"id": 3, "name": "tawny"}, "age": {"id": 3, "3 years"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
</table><p></p>

<h4>6.2.4 Pasture</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Pasture objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/pastures/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "name": "North Field", "distance": 5, "fallow": "true", "url": "/static/images/regions/north_west.jpg"}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create a Pasture object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/pastures/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "name": "North Field", "distance": 5, "fallow": "true", "url": "/static/images/regions/north_field.jpg"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "name": "North Field", "distance": 5, "fallow": "true", "url": "/static/images/regions/north_field.jpg"}]</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'name': ['This field is required.'], 'distance': ['This field is required.'], 'fallow': ['This field is required.'], 'url': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve a Pasture object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/pastures/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "name": "North Field", "distance": 5, "fallow": "true", "url": "/static/images/regions/north_field.jpg"}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update a Pasture object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/pastures/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"id": 1, "client": "Clover Dairy LTD", "name": "East Field", "distance": 6, "fallow": "true", "url": "/static/images/regions/east_field.jpg"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "name": "East Field", "distance": 6, "fallow": "true", "url": "/static/images/regions/east_field.jpg"}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'name': ['This field is required.'], 'distance': ['This field is required.'], 'fallow': ['This field is required.'], 'url': ['This field is required.']}"}</code></td>
  </tr>
</table><p></p>

<h4>6.2.5 Seed</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Seed objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/seeds/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "year": 2015, "season": {"id": 1, "name": "Spring"}, "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}, "cereal_hay": {"id": 1, "name": "alfalfa"}, "grass_hay": {"id": 1, "name": "bermuda"}, "legume_hay": {"id": 1, "name": "clover"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create a Seed object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/seeds/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "year": 2015, "season": "Spring", "pasture": "North Field", "cereal_hay": "alfalfa", "grass_hay": "bermuda", "legume_hay": "clover"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "year": 2015, "season": {"id": 1, "name": "Spring"}, "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}, "cereal_hay": {"id": 1, "name": "alfalfa"}, "grass_hay": {"id": 1, "name": "bermuda"}, "legume_hay": {"id": 1, "name": "clover"}}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'year': ['This field is required.'], 'season': ['This field is required.'], 'pasture': ['This field is required.'], 'cereal_hay': ['This field is required.'], 'grass_hay': ['This field is required.'], 'legume_hay': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve a Seed object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/seeds/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "year": 2015, "season": {"id": 1, "name": "Spring"}, "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}, "cereal_hay": {"id": 1, "name": "alfalfa"}, "grass_hay": {"id": 1, "name": "bermuda"}, "legume_hay": {"id": 1, "name": "clover"}}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update a Seed object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/seeds/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "year": 2015, "season": "Summer", "pasture": "North Field", "cereal_hay": "barley", "grass_hay": "bluegrass", "legume_hay": "cowpeas"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "year": 2015, "season": {"id": 2, "name": "Summer"}, "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}, "cereal_hay": {"id": 2, "name": "barley"}, "grass_hay": {"id": 2, "name": "bluegrass"}, "legume_hay": {"id": 2, "name": "cowpeas"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'year': ['This field is required.'], 'season': ['This field is required.'], 'pasture': ['This field is required.'], 'cereal_hay': ['This field is required.'], 'grass_hay': ['This field is required.'], 'legume_hay': ['This field is required.']}"}</code></td>
  </tr>
</table><p></p>

<h4>6.2.6 Milk</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Milk objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/milk/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "milking_time": "2015-01-01T04:30", "gallons": 5}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create a Milk object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/milk/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "cow": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "milking_time": "2015-01-01T04:30", "gallons": 5}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "milking_time": "2015-01-01T04:30", "gallons": 5}]}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'cow': ['This field is required.'], 'milking_time': ['This field is required.'], 'gallons': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve a Milk object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/milk/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "milking_time": "2015-01-01T04:30", "gallons": 5}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update a Milk object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/milk/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "cow": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "milking_time": "2015-01-01T04:40", "gallons": 4}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "milking_time": "2015-01-01T04:40", "gallons": 4}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'cow': ['This field is required.'], 'milking_time': ['This field is required.'], 'gallons': ['This field is required.']}"}</code></td>
  </tr>
</table><p></p>

<h4>6.2.7 Event</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Event objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/events/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "event_time": "2015-01-01T04:30", "action": {"id": 1, "name": "Chew Cud"}}]}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create an Event object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/events/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "cow": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "event_time": "2015-01-01T04:30", "action": "Chew Cud"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "milking_time": "2015-01-01T04:30", "action": {"id": 1, "name": "Chew Cud"}}]}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'cow': ['This field is required.'], 'event_time': ['This field is required.'], 'action': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve an Event object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/events/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "event_time": "2015-01-01T04:30", "action": {"id": 1, "name": "Chew Cud"}}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update an Event object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/events/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "cow": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "event_time": "2015-01-01T05:10", "action": "Eat Grass"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "event_time": "2015-01-01T05:10", "action": {"id": 4, "name": "Eat Grass"}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'cow': ['This field is required.'], 'event_time': ['This field is required.'], 'action': ['This field is required.']}"}</code></td>
  </tr>
</table><p></p>

<h4>6.2.8 Exercise</h4><p></p>
<table class="left">
  <tr>
    <th>Action</th>
    <td>List all Exercise objects</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/exercises/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"count": 1, "prev": null, "next": null, results: [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "exercise_time": "2015-01-01T04:30", "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}}}]}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Create an Exercise object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/exercises/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/post.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "cow": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "exercise_time": "2015-01-01T04:30", "pasture": "North Field"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": [{"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "milking_time": "2015-01-01T04:30", "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}}]}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'cow': ['This field is required.'], 'exercise_time': ['This field is required.'], 'pasture': ['This field is required.']}"}</code></td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Retrieve an Exercise object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/exercises/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/get.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>None</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "event_time": "2015-01-01T04:30", "pasture": {"id": 1, "name": "North Field", "url": "/static/images/regions/north_field.jpg"}}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td>{"status_code": 405, "reason_phrase": "Method Not Allowed"}</td>
  </tr>
  <tr>
    <th>Action</th>
    <td>Update an Exercise object</td>
  </tr>
  <tr>
    <th>URL Path</th>
    <td>/assets/api/exercises/1/</td>
  </tr>
  <tr>
    <th>HTTP Method</th>
    <td><img width="60" src="/static/images/methods/put.png"/></td>
  </tr>
  <tr>
    <th>PUT/POST data</th>
    <td>{"client": "Clover Dairy LTD", "recorded_by": "farmer", "cow": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "exercise_time": "2015-01-01T04:45", "pasture": "East Field"}</td>
  </tr>
  <tr>
    <th>Valid HTTP Response</th>
    <td>{"status_code": 200, "reason_phrase": "OK", "data": {"id": 1, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "recorded_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "cow": {"id": 1, "rfid": "6f26758c-dc19-4a99-b708-f3f7b0eda66c", "purchased_by": {"id": 1, "username": "farmer", "first_name": "old", "last_name": "mcdonald", "email": "farmer@dairyfarm.org"}, "client": {"id": 1, "name": "Clover Dairy LTD", "join_date": "2015-01-01"}, "purchase_date": "2015-01-02", "sell_date": "2100-12-31", "breed": {"id": 1, "name": "Holstein", "url": "/static/images/breeds/holstein.png"}, "color": {"id", "name": "black_white"}, "age": {"id": 3, "3 years"}}, "event_time": "2015-01-01T05:10", "pasture": {"id": 4, "name": "East Field", "url": "/static/images/regions/east_field.jpg"}}}</td>
  </tr>
  <tr>
    <th>Invalid HTTP Response</th>
    <td><code>{"status_code": 404, "reason_phrase": "Not Found", "content": "{'detail': 'Not found.'}"}</code><p></p><code>{"status_code": 400, "reason_phrase": "Bad Request", "content": "{'client': ['This field is required.'], 'recorded_by': ['This field is required.'], 'cow': ['This field is required.'], 'exercise_time': ['This field is required.'], 'pasture': ['This field is required.']}"}</code></td>
  </tr>
</table><p></p>

<div id="ui" style="text-align: left">
<h2>7. UI Design</h2><p></p>
<h3>7.1 SPA Framework</h3>
<img width="80%" src="/static/images/docs/spa_framework.png"/><p></p>
<h3>7.2 Asset Create new or List all Objects</h3>
<img width="80%" src="/static/images/docs/spa_create_list_object.png"/><p></p>
<h3>7.3 Asset Retrieve or Update existing Object</h3>
<img width="80%" src="/static/images/docs/spa_retrieve_update_object.png"/><p>
</p><p></p></div>

<div id="appendix"><h2>8. Appendix</h2><p></p>
<table>
  <tr>
    <th>Word or Phrase</th>
    <th>Definition</th>
  </tr>
  <tr>
    <td>Fallow</td>
    <td>Allow to grow naturally undisturbed without animals grazing</td>
  </tr>
</table>
</div>
