<table class="login" ng-if="globals">
    <tr>
        <td><p style="color:blue">{{globals.currentUser.username}}</p></td>
        <td><p> logged in at </p></td>
        <td><p style="color:blue">{{globals.login}}</p></td>
    </tr>
</table>

<h2>{{record_header}}</h2>
<form action="{% url 'assets:event-list' %} method="post">
    <table>
    <tr>
        <th>Client:</th>
        <td>{{globals.currentUser.client.name}}</td>
    </tr>
    <tr>
        <th>Recorder:</th>
        <td>{{globals.currentUser.username}}</td>
    </tr>
    <tr>
        <th>Event Time:</th>
        <td>
            <input type="datetime-local"
                   ng-init="inputTime=currentDateTime()"
                   ng-model="inputTime" 
                   placeholder="yyyy-MM-ddTHH:mm:ss" required/>
        </td>
    </tr>
    <tr>
        <th>RFID:</th>
        <td>
            <select ng-init="selectedCow=globals.cows[0].rfid" 
                    ng-model="selectedCow" 
                    ng-options="cow.rfid for cow in globals.cows">
            </select>
        </td>
    </tr>
    <tr>
        <th>Action:</th>
        <td>
            <select ng-init="selectedAction=globals.actions[0].name" 
                    ng-model="selectedAction" 
                    ng-options="action.name for action in globals.actions">
            </select>
        </td>
    </table>
    <input type="button" ng-click="record()" value="Record"/>
</form>

<h2>{{total}} Recorded Events</h2>
<table ng-if="total > 0">
  <tr>
    <th>ID</th>
    <th>Client</th>
    <th>Recorder</th>
    <th>Occurred When</th>
    <th>RFID</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="event in events">
    <td><a href="#!{{event.link}}">{{event.id}}</a></td>
    <td>{{event.client.name}}</td>
    <td>{{event.recorded_by}}</td>
    <td>{{event.event_time}}</td>
    <td><a href="#!{{event.cow.link}}">{{event.cow.rfid}}</a></td>
    <td>{{event.cow.breed.name}}</td>
    <td>{{event.cow.color.name}}</td>
    <td>{{event.cow.age.name}}</td>
    <td>{{event.action.name}}</td>
  <tr>
</table>

<p ng-if="total == 0">No events recorded yet.</p>

<div>
<span text-align:left><a ng-if="prev" href="{{prev}}">Prev</a></span>
<span text-align:right><a ng-if="next" href="{{next}}">Next</a></span>
</div>
