<h2>Milk</h2>
<form ng-if="milk" action="{% url 'assets:milk-detail' milk.id %}" method="put">
    <table>
        <tr>
            <th>ID:</th>
            <td>{{milk.id}}</td>
        </tr>
        <tr>
            <th>Client:</th>
            <td>{{milk.client.name}}</td>
        </tr>
        <tr>
            <th>Recorder:</th>
            <td>{{milk.recorded_by}}</td>
        </tr>
        <tr>
            <th>Milking Time:</th>
            <td>{{milk.milking_time}}</td>
        <tr>
            <th>RFID:</th>
            <td>{{milk.cow.rfid}}</td>
        </tr>
        <tr>
            <th>Gallons:</th>
            <td>
                <input ng-init="inputGallons=0"
                       ng-model="inputGallons" min=0 max=10 required/>
            </td>
        </tr>
    </table>
    <input type="button" ng-click="update(inputGallons)" value="Update"/>
</form>

<table ng-if="milk">
  <tr>
    <th>ID</th>
    <th>Client</th>
    <th>Recorder</th>
    <th>Occurred When</th>
    <th>RFID</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Age</th>
    <th>Gallons Collected</th>
  </tr>
  <tr>
    <td>{{milk.id}}</td>
    <td>{{milk.client.name}}</td>
    <td>{{milk.recorded_by}}</td>
    <td>{{milk.milking_time}}</td>
    <td><a href="#{{milk.cow.link}}">{{milk.cow.rfid}}</a></td>
    <td>{{milk.cow.breed.name}}</td>
    <td>{{milk.cow.color.name}}</td>
    <td>{{milk.cow.age.name}}</td>
    <td>{{milk.gallons}}</td>
  <tr>
</table>
<p/>
<img src="{{milk.cow.breed.url}}" alt="Image failed to load" height="200" width="400">

