<div class="auth" ng-if="globals">
<table>
    <tr>
        <td><p style="color:blue">{{globals.currentUser.username}}</p></td>
        <td><p> logged in at </p></td>
        <td><p style="color:blue">{{globals.login}}</p></td>
    </tr>
</table>
</div>
<h2>Month Report for {{year}} {{month}}</h2>
<table>
  <tr ng-if="row">
    <th>Total Cows</th>
    <th>Aged Cows</th>
    <th>Pregnant Cows</th>
    <th>Injured Cows</th>
    <th>Ill Cows</th>
    <th>Gallons Milked</th>
  </tr>
  <tr>
    <td>{{row.total_cows}}</td>
    <td>{{row.aged_cows}}</td>
    <td>{{row.pregnant_cows}}</td>
    <td>{{row.injured_cows}}</td>
    <td>{{row.ill_cows}}</td>
    <td>{{row.gallons_milk}}</td>
  <tr>
</table>
