
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: black;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.menu a:hover {
    color: white;
    background-color: black;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

div.auth {
    border: 0px;
}

div.auth table {
    border: 0px;
    float: right;
}

div.auth table tr td {
    border: 0px;
}

div.auth table tr {
    border: 0px;
}

div.raw {
    text-align: left;
    width: 100%;
    border: 2px solid gray;
    padding: 5px;
    background-color: orange;
}

div {
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 5px;
    background-color: orange;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

table.left {
    text-align: left;
    font-family: arial, sans-serif;
    font-style: 10px;
    border: 2px solid black;
    padding: none;
    margin: 0 auto 0 auto;
}
table {
    text-align: center;
    font-family: arial, sans-serif;
    font-style: 10px;
    border: 2px solid black;
    padding: none;
    margin: 0 auto 0 auto;
}

td.left {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
